{% import "macros/form.twig" as forms %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% include 'assets/css.twig' %}
        <title>{% block title %}{% endblock %} - FMS</title>
    {% endblock %}
</head>
<body>
<h1>BASE heading</h1><button class="btn btn-primary">bootstraptest</button>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
{% include 'assets/js.twig' %}
</body>
</html>