{% import "macros/form.twig" as forms %}

<h1>{{ form.archetype.name }} {{ form.id }}</h1>

{{ forms.formMeta(form) }}

<form method="post" action="">
{% for filledField in form.filledFields %}
    {{ forms.filledField(filledField, true) }}
{% endfor %}
    <input type="submit" value="odeslat" />
</form>