{#{% import "macros/form.twig" as forms %}#}

{#<h1>showForm</h1>#}

{#{% for filledField in form.filledFields %}#}
    {#<label>#}
        {#{{ filledField.field.label }}#}
        {#form#}
    {#</label>#}
{#{% endfor %}#}